<p style="text-align: right;">FECHA:<span style="text-decoration: underline;">{{ h.creacion.day }}/{{ h.creacion.month }}/{{ h.creacion.year }}</span> </p>
<h3 style="text-align: center;"><strong>HISTORIA MEDICA</strong></h3>
<p style="text-align: left;">APELLIDOS: <span style="text-decoration: underline;">{{p.apellido}}</span> NOMBRES: <span style="text-decoration: underline;">{{p.nombre}}</span></p>
<p style="text-align: left;">FECHA DE NAC: <span style="text-decoration: underline;">{{p.fecha_nacimiento}}</span> EDAD: <span style="text-decoration: underline;">{{p.edad}}</span></p>
<p style="text-align: left;">DIRECCION: <span style="text-decoration: underline;">{{p.direccion}}</span> TELF: <span style="text-decoration: underline;">{{p.telefono}}</span></p>
<p style="text-align: left;">REF Dr: <span style="text-decoration: underline;">{{p.REF_Dr}}</span></p>
<p style="text-align: left;">Nombre de la madre: <span style="text-decoration: underline;">{{p.nombre_madre}}</span></p>
<p style="text-align: left;">Correo Electronico: <span style="text-decoration: underline;">{{p.email}}</span></p>
<p style="text-align: right;">PN: <span style="text-decoration: underline;">{{p.pn}}</span> TN: <span style="text-decoration: underline;">{{p.tn}}</span></p>
<p style="text-align: left;">ANTECEDENTES PERSONALES: <span style="text-decoration: underline;">{{p.antecedentes_familiares}}</span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">ANTECEDENTES FAMILARES: <span style="text-decoration: underline;">{{p.antecedentes_personales}}</span></p>
<p style="text-align: left;">ENFERMEDAD ACTUAL: <span style="text-decoration: underline;">{{p.enfermedad_actual}}</span></p>
<p style="text-align: left;">&nbsp;</p>
<h3 style="text-align: center;"><strong>EXAMEN FISICO</strong></h3>
<p style="text-align: center;">PESO: <span style="text-decoration: underline;">{{h.peso}}</span>kg TALLA: <span style="text-decoration: underline;">{{p.talla}}</span> TA: <span style="text-decoration: underline;">{{p.ta}}</span></p>
<p style="text-align: left;">Ex. Fisico: <span style="text-decoration: underline;">{{h.examen_fisico}}</span></p>
<p style="text-align: left;">Laboratorio ingreso: <span style="text-decoration: underline;">{{h.laboratorio_ingreso}}</span></p>
<p style="text-align: left;">Dx Ingreso: <span style="text-decoration: underline;">{{h.dx_ingreso}}</span></p>
<p style="text-align: left;">Plan: <span style="text-decoration: underline;">{{h.plan}}</span></p>
